*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #7a7ad4;
    color: #333;
    min-height: 100vh;
    font-family: Tahoma;
}

/* Navbar Start*/

.navbar{
    height: auto;
    background-color: black;
    padding: 16px 5px;
    position: sticky;
    top:0;
    z-index: 10000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}
.nav-logo h1{
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}
.nav-button{
    display: flex;
    gap:10px;
}
.nav-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
.btn-favourite{
    background-color: tomato;
}
.btn-cart{
    background-color: #3799da;
}

/* Navbar End*/



/* Carousel Start */
.Carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.carousel-wrapper {
  position: relative;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  pointer-events: none;
}

.carousel-slide.to-left {
  transform: translateX(-100%);
}
.carousel-slide.to-right {
  transform: translateX(100%);
}
.carousel-slide.active {
  opacity: 1;
  pointer-events: auto;
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  z-index: 10;
  font-weight: bold;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prev {
  left: -90px;
}

.next {
  right: -90px;
}

/* Carousel End */



/* Movies List Starts */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}
.container h2{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.movie-card {
  display: flex;              
  flex-direction: column;     
  justify-content: space-between; 
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.movie-card:hover {
  transform: scale(1.001);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 20px;
}

.movie-poster {
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  flex-shrink: 0;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-info {
  padding: 16px;
}

.movie-title {
  font-size: 18px;
  height: 40px;
  font-weight: bold;
  margin-bottom: 8px;
  /* color: #333; */
  color:white;
}

.movie-year {
  /* color: #666; */
  color:white;
  margin-bottom: 8px;
  font-size: 14px;
}

.movie-category {
  display: inline-block;
  background-color: #667eea;
  color: #fff;
  padding: 4px 12px;
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.movie-rating {
  /* color: #f39c12; */
  color:white;
}

.movie-buttons {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
}

.btn {
  flex: 1;
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* extra */
}
/* Movies List Ends */
